<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <a href = "logout">logout</a>
    <a href = "/mypage">mypage</a>
    <a href = "/todo/top">TOP</a>
    <h1>ログイン</h1>
    <form action="/login" method="post">
        <div>
            <label>ユーザー名：</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>パスワード：</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="ログイン" />
        </div>
        <div>
            <input type="button" value="新規登録" onclick="location.href='./users/create'"/>
            <input type="button" value="更新" onclick="location.href='./users/update'"/>
        </div>
        <div><%= error %></div>
    </form>
</body>
</html>