<!DOCTYPE html>
<html>
  <head>
    <title>TOPページ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <a href = "logout">logout</a>
        <a href = "/mypage">mypage</a>
        <a href = "/todo/top">TOP</a>
    <h1>TOPページ</h1>
    <input type="button" value="ToDoリスト確認" onclick="location.href='./todo/top'"/>
    <input type="button" value="ToDoリスト新規登録" onclick="location.href='./todo/create'"/>
  </body>
</html>